ktor {
    deployment {
        port = 8080
        autoreload = true
        watch = [ ufo-sightings ]
    }
    application {
        modules = [ info.adavis.UFOSightingsAppKt.main,
                    info.adavis.RoutesKt.routes ]
    }
}

database {
  storage = ".database"
  logsql = true
}